<h2>{{ relative_path }}</h2>

{% if let Some(text) = self.parent_relative_path %}
<a href="?path={{text|e}}" hx-get="/list?path={{text|e}}" hx-target="#fileListing">Go up..</a>
{% endif %}

{% if files.len() == 0 %}
No files
{% else %}
<ul>
{% for file in files %}
<li>
    {% if file.is_directory %}
    <a href="?path={{file.relative_path|e}}" hx-get="/list?path={{file.relative_path|e}}" hx-target="#fileListing">📁 {{file.name}}</a>
    {% else %}
    <a href="#" hx-put="/toggle-status" hx-vals='{"path": "{{file.relative_path|safe}}"}' hx-target="#fileListing">{% if file.is_heard %}✅{% else %}➡️{% endif %}</a>
    <a href="#" data-path="{{file.relative_path|e}}" onclick="setAudioSource(event);" hx-put="/toggle-status" hx-vals='{"path": "{{file.relative_path|safe}}", "heard": true}' hx-target="#fileListing">{{file.name}} ({{ file.size }})</a>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endif %}