<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AudioBrowser</title>
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>
<body>
    <h1 class="text-center">AudioBrowser</h1>

    <div class="controls">
        <a href="#" id="autoplayToggle" data-value="false">Autoplay OFF</a>
    </div>

    <div id="fileListing" hx-trigger="load" hx-get="/list?path={{current_relative_path|e}}" style="margin-bottom: 10em;"></div>
    <div id="audioPlayerContainer" style="display: none;"><audio id="player" controls></audio></div>

    <script src="/assets/home.js"></script>
</body>
</html>